<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        /*these styles are internal, so email clients don't need to download the css as a resource*/
        .expiry-mail .food-row {
            display: inline;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="foods" type="java.util.Collection<cz.dhudec.fridge.dto.FoodNotificationDto>"*/-->
<h1><b>Heya!</b></h1>
<div th:switch="${foods.isEmpty()}" class="expiry-mail">
    <div th:case="${true}">
        <span>All foods are okay :-)</span>
    </div>
    <div th:case="*">
        <div th:each="food : ${foods}">
            <b><span th:text="${food.name}"/></b>
            <span th:text="'(' + ${food.pieces} + ' pcs left)'"/>
            <div th:if="${food.alreadyExpired}" class="food-row">
                <span th:text="'expired ' + ${@formatter.formatFoodExpiration(food.expiryDate)} + ' (' + ${food.expiryDate.dayOfWeek} + ')'"/>
            </div>
            <div th:unless="${food.alreadyExpired}" class="food-row">
                <span th:text="'expires ' + ${@formatter.formatFoodExpiration(food.expiryDate)} + ' (' + ${food.expiryDate.dayOfWeek} + ')'"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
