<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="modal (food)">
    <!--/*@thymesVar id="food" type="cz.dhudec.fridge.domain.Food"*/-->
    <div class="modal fade text-dark" th:id="modal-del-food+${food.id}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{modal.title.delete.food}"/>
                    <button type="button" class="close" data-dismiss="modal"/>
                </div>
                <div class="modal-body">
                    <h3 th:text="#{modal.confirm.delete} + ' ' + ${food.name} + '?'"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal"><i
                            class="fas fa-ban"></i>&nbsp;
                        <span th:text="#{modal.close}"/></button>
                    <a type="button" class="btn btn-danger"
                       th:href="@{/foods/delete/{id}(id=${food.id})}"><i
                            class="far fa-trash-alt"></i>&nbsp;<span th:text="#{btn.yes}"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
