<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="modal (food)">
    <!--/*@thymesVar id="food" type="cz.dhudec.fridge.domain.Food"*/-->
    <div class="modal fade text-dark" th:id="modal-detail-food+${food.id}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{modal.details.of} + ' ' + ${food.name}"/>
                    <button type="button" class="close" data-dismiss="modal"/>
                </div>

                <div class="modal-body container justify-content-center">
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.property.name} + ':'"/>
                        <div class="col-8" th:text="${food.name}"/>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.property.type} + ':'"/>
                        <div class="col-8" th:text="${food.type.name}"/>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.property.created} + ':'"/>
                        <div class="col-8" th:text="${#temporals.format(food.created, 'dd. MMM yyyy')}"/>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.property.placement} + ':'"/>
                        <div class="col-8" th:text="#{${food.placement.translationKey}}"/>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.property.quantity} + ':'"/>
                        <div class="col-8" th:text="${food.quantity - food.eaten} + '/' + ${food.quantity}"/>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.property.expires} + ':'"/>
                        <div class="col-8" th:text="${@formatter.formatFoodExpiration(food.expires)}"/>
                    </div>
                    <div class="row">
                        <div class="col-4 font-weight-bold" th:text="#{food.detail.notification} + ':'"/>
                        <div class="col-8" th:text="${food.notificationPeriod} + ' ' + #{food.detail.before.expiry}"/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"><i
                            class="fas fa-check"></i>&nbsp;
                        <span th:text="#{modal.ok}"/></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
