<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<cz.dhudec.fridge.domain.Food>"*/-->
<!--/*@thymesVar id="ready" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="eaten" type="java.lang.Boolean"*/-->
<table class="table" th:fragment="foods-table (page, ready, eaten)">
    <thead>
    <tr>
        <th th:text="#{food.property.name}"/>
        <th th:text="#{food.property.type}" class="d-none d-xl-table-cell"/>
        <th th:text="#{food.property.created}" class="d-none d-xl-table-cell"/>
        <th th:text="#{food.property.expires}"/>
        <th>&Sigma;</th>
        <th/>
        <th/>
        <th/>
        <th/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="food, rowStat : ${page.content}"
        th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        <td><a data-toggle="modal" data-target="#modal-detail-food" href="" th:text="${food.name}"
               th:attr="data-target='#modal-detail-food'+${food.id}" class="dashed-link"/>
            <div th:replace="fragments/food-detail-modal :: modal (food=${food})"/>
        </td>
        <td th:text="${food.type.name}" class="d-none d-xl-table-cell"/>
        <td th:text="${#temporals.format(food.created, 'dd. MMM')}" class="d-none d-xl-table-cell"/>
        <td th:text="${@formatter.formatFoodExpiration(food.expires)}"/>
        <td th:text="${food.numberOfReady} + '/' + ${food.quantity}"/>
        <td th:switch="${food.placement.ordinal()}">
            <i th:case="0" class="fas fa-temperature-low text-dark" th:title="#{placement.fridge}"></i>
            <i th:case="1" class="far fa-snowflake text-primary" th:title="#{placement.freezer}"></i>
        </td>
        <td><a th:href="@{/foods/edit/{id}(id=${food.id})}" th:title="#{food.action.edit}"><i
                class="fas fa-pencil-alt"></i></a></td>
        <td th:if="${ready}"><a th:href="@{/foods/eat/{id}(id=${food.id})}"
                                th:title="#{food.action.eat}"><i class="fas fa-check text-success"></i></a></td>
        <td th:if="${ready}"><a th:href="@{/foods/eat/{id}(id=${food.id},all=true)}"
                                th:title="#{food.action.all.eaten}"><i class="fas fa-check-double text-success"></i></a></td>
        <td th:if="${eaten}"><a th:href="@{/foods/uneat/{id}(id=${food.id})}"
                                th:title="#{food.action.uneat}"><i
                class="fas fas fa-undo text-info"></i></a></td>
        <td><a data-toggle="modal" href="" th:title="#{food.action.delete}"
               th:attr="data-target='#modal-del-food'+${food.id}"><i class="far fa-trash-alt text-danger"></i></a>
            <div th:replace="fragments/delete-food-modal :: modal (food=${food})"/>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
