<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div class="page-header" th:fragment="header">
    <div class="float-left">
        <span th:text="${@householdHolder.get().name}">
    </div>
    <div class="float-right">
        <a th:href="@{/logout}"><span>Logout</span>&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
    <div class="clearfix"></div>
</div>
</body>
</html>
