<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="panel (page)">
    <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
    <nav th:if="${page.totalPages > 0}">
        <ul class="pagination pg-blue">
            <th:block th:if="${page.totalPages <= 8}" th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <li th:if="${page.number == i}" class="active page-item">
                    <a th:href="@{''(page=${i},size=${page.size})}" class="page-link" disabled="">[[${i}+1]]</a>
                </li>
                <li th:unless="${page.number == i}" class="page-item">
                    <a th:href="@{''(page=${i},size=${page.size})}" class="page-link">[[${i}+1]]</a>
                </li>
            </th:block>
            <th:block th:if="${page.totalPages > 8}">
                <th:block th:if="${page.hasPrevious()}">
                    <a th:href="@{''(page=${0}, size=${page.size})}" class="page-link"><i class="fas fa-step-backward"></i></a>
                    <a th:href="@{''(page=${page.number - 1}, size=${page.size})}" class="page-link"><i class="fas fa-chevron-left"></i></a>
                </th:block>
                <span class="page-link" disabled>[[${page.number}+1]]</span>
                <th:block th:if="${page.hasNext()}">
                    <a th:href="@{''(page=${page.number + 1}, size=${page.size})}" class="page-link"><i class="fas fa-chevron-right"></i></a>
                    <a th:href="@{''(page=${page.totalPages - 1}, size=${page.size})}" class="page-link"><i class="fas fa-step-forward"></i></a>
                </th:block>
            </th:block>
        </ul>
    </nav>
</div>
</body>
</html>
