<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.foodtypes}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8af2859d5.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<form action="#" th:action="@{/foodTypes/add}" th:object="${foodType}" method="post">
    <div class="container-fluid p-2">
        <div class="header row justify-content-center m-4">
            <h3 class="text-center" th:text="#{foodtypes.insert.new}"/>
        </div>

        <div class="col-md-4 offset-md-4">
            <div class="form-group">
                <label for="name" th:text="#{foodtype.create.name}"/>
                <input type="text" th:field="*{name}" id="name" placeholder="fast-food" class="form-control">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger d-block"/>
            </div>

            <div class="form-group">
                <label for="defPeriod" th:text="#{foodtype.create.defaultDurability}"/>
                <input type="number" th:field="*{defaultDurability}" id="defPeriod" class="form-control">
                <span th:if="${#fields.hasErrors('defaultDurability')}" th:errors="*{defaultDurability}" class="text-danger d-block"/>
                <small th:text="#{foodtype.help.defaultDurability}"/>
            </div>
        </div>
    </div>
    <div class="p-2 text-center my-4">
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;<span th:text="#{btn.accept}"/></button>
        <a th:href="@{/foodTypes}" class="btn btn-info"><i class="fas fas fa-stream"></i>&nbsp;<span th:text="#{btn.back.to.foodtypes}"/></a>
    </div>
</form>
</body>
</html>
