<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.foods}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a8af2859d5.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript">
        typeChanged = function() {
            // upon changing selected type, sets the 'expires' field to now() + selectedType.defaultDurability
            var defaultDurability = $('#type').find(':selected').data('default-durability');
            var expires = new Date();
            expires.setDate(new Date().getDate() + defaultDurability);
            $('#expires').val(expires.toISOString().slice(0,10));
        };
    </script>
</head>
<body>
<form action="#" th:action="@{/foods/add}" th:object="${food}" method="post">
    <div th:switch="${types.isEmpty()}">
        <div th:case="${true}" class="text-center my-4">
            <span th:utext="#{foods.insert.no.type}"/>
            <div class="my-4">
                <a th:href="@{/foodTypes/add}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;<span th:text="#{btn.add.foodtype}"/></a>
                <a th:href="@{/foods}" class="btn btn-info"><i class="fas fas fa-stream"></i>&nbsp;<span th:text="#{btn.back.to.fridge}"/></a>
            </div>
        </div>
        <div th:case="${false}">
            <div>
                <div class="header row justify-content-center m-4">
                    <h3 class="text-center" th:text="#{foods.insert.new}"/>
                </div>

                <div class="col-md-4 offset-md-4">
                    <div class="form-group">
                        <label for="name" th:text="#{food.create.name}"/>
                        <input list="names" th:field="*{name}" id="name" placeholder="pizza" class="form-control">
                        <datalist id="names">
                            <option th:each="name : ${names}" th:value="${name}" th:label="${name}"/>
                        </datalist>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger d-block"/>
                    </div>

                    <div class="form-group">
                        <label for="type" th:text="#{food.create.type}"/>
                        <select th:field="*{type}" id="type" class="form-control" th:onchange="typeChanged()">
                            <option th:each="type : ${types}"
                                    th:value="${type.id}"
                                    th:data-default-durability="${type.defaultDurability}"
                                    th:text="${type.name}">
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger d-block"/>
                        <small th:text="#{food.help.foodtype.add}"/>
                    </div>

                    <div class="form-group">
                        <label for="quantity" th:text="#{food.create.quantity}"/>
                        <input type="number" th:field="*{quantity}" id="quantity" class="form-control">
                        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger d-block"/>
                    </div>

                    <div class="form-group">
                        <label for="placement" th:text="#{food.create.placement}"/>
                        <select th:field="*{placement}" id="placement" class="form-control">
                            <option th:each="placement : ${placements}"
                                    th:value="${placement}"
                                    th:text="#{${placement.translationKey}}">
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('placement')}" th:errors="*{placement}" class="text-danger d-block"/>
                        <small th:text="#{food.help.placement}"/>
                    </div>

                    <div class="form-group">
                        <label for="created" th:text="#{food.create.created}"/>
                        <input type="date" th:field="*{created}" th:value="${{food.created}}" id="created" class="form-control">
                        <span th:if="${#fields.hasErrors('created')}" th:errors="*{created}" class="text-danger d-block"/>
                        <small th:text="#{food.help.created}"/>
                    </div>

                    <div class="form-group">
                        <label for="notificationPeriod" th:text="#{food.create.notificationPeriod}"/>
                        <input type="number" th:field="*{notificationPeriod}" id="notificationPeriod" class="form-control" placeholder="default">
                        <span th:if="${#fields.hasErrors('notificationPeriod')}" th:errors="*{notificationPeriod}" class="text-danger d-block"/>
                        <small th:text="#{food.help.notificationPeriod}"/>
                    </div>

                    <div class="form-group">
                        <label for="expires" th:text="#{food.create.expires}"/>
                        <input type="date" th:field="*{expires}" id="expires" class="form-control">
                        <span th:if="${#fields.hasErrors('expires')}" th:errors="*{expires}" class="text-danger d-block"/>
                        <small th:text="#{food.help.expires}"/>
                    </div>
                </div>
            </div>

            <div class="p-2 text-center my-4">
                <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;<span th:text="#{btn.insert.into.fridge}"/></button>
                <a th:href="@{/foods}" class="btn btn-info"><i class="fas fas fa-stream"></i>&nbsp;<span th:text="#{btn.back.to.fridge}"/></a>
            </div>
        </div>
    </div>
</form>
</body>
</html>
