<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.foods}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8af2859d5.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body th:with="ready=${eaten == null && all == null}">
<div th:replace="fragments/header :: header"/>
<form th:action="@{/foods}" th:object="${foods}" method="get">
    <div class="header row justify-content-center m-4">
        <div class="btn-group mr-4" role="group">
            <a type="button" style="line-height: 28px" th:href="@{/foods}" class="btn"
               th:classappend="${ready} ? 'btn-success' : 'btn-info'"><i
                    class="fas fa-star"></i>&nbsp;<span th:text="#{food.list.uneaten}"/></a>
            <a type="button" style="line-height: 28px" th:href="@{/foods/eaten}" class="btn"
               th:classappend="${eaten} ? 'btn-success' : 'btn-info'"><i class="far fa-star"></i>&nbsp;<span
                    th:text="#{food.list.eaten}"/></a>
            <a type="button" style="line-height: 28px" th:href="@{/foods/all}" class="btn"
               th:classappend="${all} ? 'btn-success' : 'btn-info'"><i
                    class="fas fa-star-half-alt"></i>&nbsp;<span th:text="#{food.list.all}"/></a>
        </div>
    </div>
    <div th:switch="${page.isEmpty()}" class="text-center">
        <div th:case="${true}">
            <h2 th:if="${ready}" th:text="#{foods.in.the.fridge.none}"/>
            <h2 th:if="${eaten}" th:text="#{foods.in.the.fridge.eaten.none}"/>
            <h2 th:if="${all}" th:text="#{foods.in.the.fridge.all.none}"/>
        </div>
        <div th:case="*">
            <h2 th:if="${ready}" th:text="#{foods.in.the.fridge}"/>
            <h2 th:if="${eaten}" th:text="#{foods.in.the.fridge.eaten}"/>
            <h2 th:if="${all}" th:text="#{foods.in.the.fridge.all}"/>
            <div th:replace="fragments/foods-table :: foods-table (page = ${page}, ready = ${ready}, eaten=${eaten})"/>
        </div>

        <div class="row justify-content-center">
            <div th:replace="fragments/pagination :: panel (page=${page})"/>
        </div>

        <div class="my-4">
            <a th:href="@{/foods/add}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;<span
                    th:text="#{btn.add.food}"/></a>
            <a th:href="@{/foodTypes}" class="btn btn-info"><i class="fas fa-wrench"></i>&nbsp;<span
                    th:text="#{btn.manage.foodtypes}"/></a>
        </div>
    </div>
</form>
</body>
</html>
