<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.foodtypes}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8af2859d5.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div th:replace="fragments/header :: header"/>
<form th:action="@{/foodTypes}" th:object="${foodTypes}" method="get">
    <div th:switch="${foodTypes.isEmpty()}" class="text-center">
        <h2 th:case="${true}" th:text="#{foodtypes.none}"/>
        <div th:case="*">
            <div class="header row justify-content-center m-4">
                <h2 th:text="#{foodtypes.defined}"/>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{foodtype.property.id}"/>
                    <th th:text="#{foodtype.property.name}"/>
                    <th th:text="#{foodtype.property.created}"/>
                    <th><i class="fab fa-gratipay"></i></th>
                    <th/>
                    <th/>
                </tr>
                </thead>
                <tbody>
                <tr th:each="foodType, rowStat: ${foodTypes}"
                    th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                    <td th:text="${foodType.id}"></td>
                    <td th:text="${foodType.name}"></td>
                    <td th:text="${#temporals.format(foodType.created, 'dd. MMM yyyy')}"></td>
                    <td th:text="${foodType.defaultDurability}"></td>
                    <td> <a th:href="@{/foodTypes/edit/{id}(id=${foodType.id})}"><i class="fas fa-pencil-alt"></i></a></td>
                    <td>
                        <div th:switch="${@foodTypeServiceJpa.hasAnyFood(foodType)}">
                            <div th:case="${false}"><a data-toggle="modal" href="" th:title="#{foodtype.action.delete}"
                                    th:attr="data-target='#modal-del-type'+${foodType.id}"><i
                                    class="far fa-trash-alt text-danger"></i></a>
                                <div th:replace="fragments/delete-foodtype-modal :: modal (foodType=${foodType})"/>
                            </div>
                            <div th:case="*">
                                <i class="far far fa-trash-alt text-muted" disabled th:title="#{foodtype.action.undeletable}"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="my-4">
            <a th:href="@{foodTypes/add}" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;<span th:text="#{btn.add.foodtype}"/></a>
            <a th:href="@{foods}" class="btn btn-info"><i class="fas fas fa-stream"></i>&nbsp;<span th:text="#{btn.back.to.fridge}"/></a>
        </div>
    </div>
</form>
</body>
</html>
