<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.title.login}"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8af2859d5.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
    <body>
        <form th:action="@{/login}" method="post">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center" th:text="#{login.action.signin.to.fridge}"/>
                                <form class="form-signin">
                                    <div class="text-center my-2">
                                        <input type="text" name="username" th:placeholder="#{login.username}"/>
                                    </div>
                                    <div class="text-center my-2">
                                        <input type="password" name="password" th:placeholder="#{login.password}"/>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"><i class="fas fa-snowplow"></i>&nbsp;<span th:text="#{login.action.signin}"/>&nbsp;<i class="fas fa-icicles"></i></button>
                                </form>
                                <div th:if="${param.error}" class="text-center">
                                    <span th:text="#{login.password.invalid}"/>
                                </div>
                                <div th:if="${param.logout}" class="text-center">
                                    <span th:text="#{login.logged.out}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
